@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap'); */

@theme {
  --font-manrope: 'Manrope', sans-serif;
  --color-primary: #151143;
  --color-secondary: #f17c2c;
  --color-tertiary: #1F6599;
}

.authCard {
  @apply min-w-[28%] min-h-[50%] bg-white/90 rounded-lg shadow-lg p-6 flex flex-col items-center justify-center;
}

body {
  @apply h-[100vh] w-full font-manrope bg-gradient-to-br from-tertiary to-primary;
}


